.content {
  grid-area: header;
  background-color: #333;
  font-family: "Droid Sans Mono Slashed";
  display: flex;
  color: darkorange;
  margin: 0;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

    h1 {
      letter-spacing: 10px;
      font-size: 2.5em;
      background-image: linear-gradient(to left, #FF4500,#FFA500);
      color: transparent;
      margin: 0;
      -webkit-background-clip: text;
    }

    p {
      color: whitesmoke;
      font-size: 1.1em;
      margin: 10px 0;
    }
  }

  nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;

    ul {
      list-style: none;
      display: flex;

      li a {
        text-decoration: none;
        color: white;
        padding-left: 40px;
        font-size: 1.4em;
      }
    }

    .logo {
      align-self: center;

      .hide {
        display: flex;

        img {
          height: 60px;
        }

        button {
          height: 20px;
          width: 40px;
          align-self: center;
        }
      }
    }
  }
}