.content {
  grid-area: header;
  background-color: var(--header-bg-color);
  font-family: "Droid Sans Mono Slashed";
  display: flex;
  color: var(--header-color);
  margin: 0;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

    h1 {
      letter-spacing: 10px;
      font-size: 2.5em;
      background-image: linear-gradient(to left, #FF4500,#FFA500);
      color: transparent;
      margin: 0;
      -webkit-background-clip: text;
    }

    p {
      color: whitesmoke;
      font-size: 1.1em;
      margin: 10px 0;
    }
  }

  nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column-reverse;

    ul {
      list-style: none;
      display: flex;
      align-items: flex-end;
      flex-grow: 1;

      a {
        text-decoration: none;
        color: whitesmoke;
        padding-left: 40px;
        font-size: 1.4em;

        &:hover {
          color: darkgrey;
        }
      }
    }
    .hide {
        display: flex;

        button {
          height: 20px;
          width: 40px;
          margin-top: 100px;
        }
      }
    }

  .toggle {
    margin: 160px 20px 0 20px;
  }
  }