.content {
  grid-area: footer;
  display: flex;
  background-color:var(--header-bg-color);
  justify-content: center;
  font-family: 'Inter Tight', sans-serif;

  a {
    text-decoration: none;
    color: var(--header-color);
    margin: auto 0;

    &:hover {
      color: darkorange;
    }
  }

}